 <div *ngIf="isLoggedIn()">
      <div *ngIf="getUserRole() == 'Admin'">
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">           
                    <div>
                      <label for="StartDate">Start Date: </label>
                      <input class="w3-input w3-border" type="text" placeholder="mm dd yyyy" name="StartDate" required ngModel>
                    </div>
                   <div>
                      <label for="EndDate">End Date: </label>
                      <input class="w3-input w3-border" type="text" placeholder="mm dd yyyy" name="EndDate" required ngModel>
                    </div>
            <div>
              <label for="Room">Room Number</label>
              <select class="form-control" id="rumic" name="Room" ngModel>
                  <option *ngFor="let at of rooms" value="{{at.Id}}">{{at.RoomNumber}}</option>
              </select>
            </div>
            <input type="submit" value="Create">
          </form>      
      </div>
    </div>

  <table border="1">
    <!--<th> Room Name</th>-->
    <th> Room Number</th>
    <th> Accomodation Name</th>
    <th> Bed Count</th>
    <tr *ngFor="let a of roomReservations">
        <td align="center">{{a.Room.RoomNumber}}</td>
        <td align="center">{{a.Room.Accomodation.Name}} </td>
        <td align="center">{{a.Room.BedCount}} </td>
        <td> <button type="submit"  name="{{a.Id}}" value="{{a.Id}}" (click)=delete(a.Id)> Delete</button>  </td>
        <!--<td> <button type="submit"  name="{{a.Id}}" value="{{a.Id}}" (click)=update(a.Id)> Update</button>  </td>-->
    </tr>
  </table>

  