<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <div>
      <label for="RoomNumber">RoomNumber</label>
      <input type="text" name="RoomNumber" ngModel>
    </div>   
     <div>
      <label for="BedCount">BedCount</label>
      <input type="text" name="BedCount" ngModel>
    </div> 
     <div>
      <label for="Description">Description</label>
      <input type="text" name="Description" ngModel>
    </div> 
     <div>
      <label for="PricePerNight">PricePerNight</label>
      <input type="text" name="PricePerNight" ngModel>
    </div> 
    <div>
     <label for="Accommodation">Accommodation</label>
     <select class="form-control" name="Accommodation" ngModel>
        <option *ngFor="let at of accommodations" value="{{at.Id}}">{{at.Name}}</option>
     </select>
    </div>
     <input type="submit" value="Create">
  </form>

<form>
  <table border="1">
    <th> Room Number</th>
    <th> Bed Count</th>
    <th> Description</th>
    <th> Price Per Night</th>
    <th> Accommodation Name</th>
    <tr *ngFor="let r of rooms">
        <td align="center">{{r.RoomNumber}}</td>
        <td align="center">{{r.BedCount}}</td>
        <td align="center">{{r.Description}}</td>
        <td align="center">{{r.PricePerNight}}</td>
        <td align="center">{{r.Accomodation.Name}}</td>
        <td> <button type="submit"  name="{{r.Id}}" value="{{r.Id}}" (click)=delete(r.Id)> Delete</button>  </td>
    </tr>
  </table>
</form>
      